/* BASE STYLES */

	html
	{
		/* make fonts look smooth*/
		-webkit-font-smoothing: antialiased;
	}

	ul
	{
		list-style: none;
		margin: 0;
		padding: 0;
	}

	li
	{
		padding: 1em;

		box-sizing: border-box;

		/* embellishments */
		background: #eee;
		border-bottom: 1px solid #ddd;
		border-top: 1px solid white;
	}

	img
	{
		/* center it horizontally */
		display: block;
		margin: auto;

		/* turn it into a circle */
		max-width: 50%;
		border-radius: 50%;
	}

	a.button
	{
		/* make it look like a button */
		padding: 1em;
		border-radius: .3em;
		background: greenyellow;
		cursor: pointer;
		display: block;
	}

/* TRANSITION */

	/* http://tympanus.net/codrops/css_reference/transition*/
	
	li
	{
		transition: .5s;
	}
	li:hover
	{
		background: #ddd;
	}

	a.button
	{
		transition: .3s;
	}
	a:hover
	{
		background: black;
		color: greenyellow;
	}

/* ANIMATION */
	
	/*

		BROWSER VENDOR PREFIXES
		
		-webkit will work for Chrome and Safari
		-moz for Firefox
		-o for Opera

	*/

	/* from https://github.com/daneden/animate.css/blob/master/source/attention_seekers/shake.css */
	/* for Chrome and Safari */
	@-webkit-keyframes shake
	{
	  0%, 100% {
	    transform: translate3d(0, 0, 0);
	  }

	  10%, 30%, 50%, 70%, 90% {
	    transform: translate3d(-10px, 0, 0);
	  }

	  20%, 40%, 60%, 80% {
	    transform: translate3d(10px, 0, 0);
	  }
	}
	/* for all other browsers */
	@keyframes shake
	{
	  0%, 100% {
	    transform: translate3d(0, 0, 0);
	  }

	  10%, 30%, 50%, 70%, 90% {
	    transform: translate3d(-10px, 0, 0);
	  }

	  20%, 40%, 60%, 80% {
	    transform: translate3d(10px, 0, 0);
	  }
	}

	img:hover
	{
		/* for Chrome and Safari*/
		/*-webkit-animation-name: shake;*/
		/*-webkit-animation-duration: 1s;*/
		
		/* for all other browsers? */
		/*animation-name: shake;*/
		/*animation-duration: 1s;*/
		
		/* more properties to tweak your animations */
		/*-webkit-animation-timing-function: ease-in-out;*/
		/*-webkit-animation-delay: 1s;*/
		/*-webkit-animation-iteration-count: infinite;*/
	}

/* RESPONSIVE DESIGN */

	@media (min-width:600px)
	{
		li
		{
			float: left;
			width: 50%;
			
			border-right: 1px solid white;
		}
	}

/* CURSORS */

li:hover
{
	cursor: -webkit-grab; 
	cursor: -moz-grab;	
}

li:active
{
	cursor: -webkit-grabbing; 
	cursor: -moz-grabbing;	
}

h3
{
	cursor: text;
}